<Layouts.app flash={@flash}>
  <div class="flex flex-col">
    <div class="flex flex-row">
      <div>Republican Side</div>
      <div class="grow">Article</div>
      <div>Democrat Side</div>
    </div>
    <%= for article <- @articles do %>
      <.article article={article} />
    <% end %>
  </div>
</Layouts.app>
