<Layouts.app flash={@flash}>
  <div class="flex flex-col" id="main">
    <div class="flex flex-row">
      <div>Republican Side</div>
      <div class="grow items-center justify-center text-center">Article</div>
      <div>Democrat Side</div>
    </div>
    <%= for article <- @articles do %>
      <Layouts.article article={article} />
    <% end %>
  </div>
</Layouts.app>
